h1 {
  color: red;
  background: red;
}

ul {
  padding-left: 0;
  background-color: red;
}

ul li {
  list-style-type: none;
  font-family: Arial, sans-serif;
}

ul li a {
  text-decoration: none;
  color: red;
}

main {
  height: 100vh;
  
}
